body {
    margin: 0;
    padding: 0;
    height: auto;
    color: #000;
}

header {
    background-image: url(./oceano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    height: 30px;
}

nav {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

ul {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 9px;
    width: auto;
}

a:link {
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    display: inline-block;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    background-color: #CE6D1D;
}

.barra_lateral_IZ {
    float: left;
    width: 250px;
    background-color: red;
    height: 742px;
}

.barra_lateral_IZ h1 {
    margin-left: 15px;
}

.barra_lateral_IZ a {
    border-radius: 5px;
    margin-left: 5px;
}

.barra_lateral_IZ a:hover {
    background-color: blue;
}

.columna_central {
    font-family: Arial, Helvetica, sans-serif;
}

.columna_central {
    margin-top: 0;
    margin-left: 260px;
    margin-right: 600px;
}

.barra_lateral_DR {
    float: right;
    width: 250px;
    background-color: red;
}

.barra_lateral_DR h1 {
    margin-left: 15px;
}

.barra_lateral_DR a {
    border-radius: 5px;
    margin-left: 5px;
}

.barra_lateral_DR a:hover {
    background-color: blue;
}

.barra_lateral_DR a:active {
    background-color: blue;
}

.footer {
    padding: 10px 0;
    background-color: #CCC49F;
    position: relative;
    clear: both;
    font-size: 60%;
}
