body {
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    background-image: url(./oceano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 60px;
}

header h1 {
    padding: 9px;
    margin-left: 10px;
}

nav {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
}

ul {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 9px;
    width: auto;
}

a:link {
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    display: inline-block;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    background-color: #CE6D1D;
}

.sidebar1 {
    float: left;
    width: 270px;
    background-color: brown;
    padding-bottom: 10px;
    max-height: max-content;
    display: block;
}

.enlaces_barra_izquierda a {
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: underline;
    width: 165px;
}

.enlaces_barra_izquierda a:hover {
    background-color: blue;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: 1680px;
    background-color: #FFF;
    margin: 0 auto;
    overflow: hidden;
}

.content {
    padding: 10px 0;
    width: 1075px;
    float: left;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar2 {
    background-color: bisque;
    display: block;
    float: left;
    height: auto;
    padding: 10px 0;
    width: 335px;
}

.enlaces_barra_derecha a {
    background-color: #7D95E0;
    color: white;
    margin-top: 15px;
    padding: 30px;
    text-align: justify;
    text-decoration: underline;
    width: 180px;
}

.enlaces_barra_derecha a:hover {
    background-color: blue;
}

.enlaces_barra_derecha a:visited {
    color: green;
}

footer {
    padding: 10px 0;
    background-color: #CCC49F;
    position: relative;
    clear: both;
    font-size: 60%;
    width: 1680px;
}
