body {
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    background-image: url(./oceano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 60px;
}

header h1 {
    padding: 9px;
    margin-left: 10px;
}

nav {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
}

ul {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 9px;
    width: auto;
}

a:link {
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    display: inline-block;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    background-color: #CE6D1D;
}

.sidebar1 {
    float: left;
    width: 270px;
    background-color: brown;
    padding-bottom: 10px;
    max-height: max-content;
    display: block;
}

.enlaces_barra_izquierda a {
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: underline;
    width: 165px;
}

.enlaces_barra_izquierda a:hover {
    background-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.container {
    width: 1680px;
    background-color: #FFF;
    margin: 0 auto;
    overflow: hidden;
}

.content {
    padding: 10px 0;
    width: 1075px;
    float: left;
    display: block;
}

.sidebar2 {
    float: left;
    width: 320px;
    background-color: #EADCAE;
    padding: 10px 0;
    float: left;
    width: 270px;
    max-height: max-content;
    display: block;
}


/* ~~ Este selector agrupado da espacio a las listas del área de .content ~~ */

.content ul,
.content ol {
    padding: 0 15px 15px 40px;
    /* este relleno reproduce en espejo el relleno derecho de la regla de encabezados y de párrafo incluida más arriba. El relleno se ha colocado en la parte inferior para que el espacio existente entre otros elementos de la lista y a la izquierda cree la sangría. Estos pueden ajustarse como se desee. */
}


/* ~~ Los estilos de lista de navegación (pueden eliminarse si opta por usar un menú desplegable predefinido como el de Spry) ~~ */

ul.nav {
    list-style: none;
    /* esto elimina el marcador de lista */
    border-top: 1px solid #666;
    /* esto crea el borde superior de los vínculos (los demás se sitúan usando un borde inferior en el LI) */
    margin-bottom: 15px;
    /* esto crea el espacio entre la navegación en el contenido situado debajo */
}

ul.nav li {
    border-bottom: 1px solid #666;
    /* esto crea la separación de los botones */
}

ul.nav a,
ul.nav a:visited {
    /* al agrupar estos selectores, se asegurará de que los vínculos mantengan el aspecto de botón incluso después de haber sido visitados */
    padding: 5px 5px 5px 15px;
    display: block;
    /* esto asigna propiedades de bloque al vínculo, lo que provoca que llene todo el LI que lo contiene. Esto provoca que toda el área reaccione a un clic de ratón. */
    width: 160px;
    /*esta anchura hace que se pueda hacer clic en todo el botón para IE6. Puede eliminarse si no es necesario proporcionar compatibilidad con IE6. Calcule la anchura adecuada restando el relleno de este vínculo de la anchura del contenedor de barra lateral. */
    text-decoration: none;
    background-color: #C6D580;
}

ul.nav a:hover,
ul.nav a:active,
ul.nav a:focus {
    /* esto cambia el color de fondo y del texto tanto para usuarios que naveguen con ratón como para los que lo hagan con teclado */
    background-color: #ADB96E;
    color: #FFF;
}

footer {
    padding: 10px 0;
    background-color: #CCC49F;
    position: relative;
    clear: both;
    font-size: 60%;
    width: 1680px;
}
